/** 公告列表页面样式 */
.noticeBox{
	width: 100%;
	height: 100%;
	padding-top: 1.706rem;
	position: relative;
}
.noticeBox .noticeContentBox{
	width: 100%;
	height: 100%;
}
ul.noticeListUl{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}
ul.noticeListUl li{
	height: auto;
	max-height: 2.4rem;
	position: relative;
	background: #fff;
	padding-left:2.8%; /*左右边距*/
	box-sizing: border-box;
}
ul.noticeListUl li i{
	display: block;
	width:  0.16rem;
	height: 0.16rem;
	background-image: url(../images/index/circle.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.54rem;
}
ul.noticeListUl li i.noRead{
	display: none;
}
ul.noticeListUl li p{
	margin-left: 0.5332rem;
	padding-top: 0.3733rem;
	margin-bottom: 0.3733rem;
	height: auto;
	max-height: 0.96rem;
	font-size: 0.3733rem;
	color: #333333;
	letter-spacing: 0;
	line-height: 0.48rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding-right:0.453rem; /*左右边距*/
}
ul.noticeListUl li p span{
	color: #21528C;
}
ul.noticeListUl li .info{
	height: 0.7466rem;
	margin-left: 0.5332rem;
	padding-bottom: 0.4rem;
}
ul.noticeListUl li .info span,ul.noticeListUl li .info label{
	display: block;
}
ul.noticeListUl li .info span{
	background-image: url(../images/index/icon-time.png);
	background-repeat: no-repeat;
	background-size:0.32rem 0.32rem;
	padding-left: 0.53rem;
	background-position: 0 center;
	height: 0.32rem;
	line-height: 0.32rem;
	font-size: 0.32rem;
	color: #666666;
	letter-spacing: 0;
}
ul.noticeListUl li .info span.infoEndTime{
	margin-left: 1.333rem;
}
ul.noticeListUl li .info label{
	margin-right:1.718rem;
	padding-left: 0.53rem;
	font-size: 0.32rem;
	color: #666666;
	letter-spacing: 0;
	height: 0.32rem;
	line-height: 0.32rem;
}
/** 公告列表页面样式 */
/** 公告详情页面样式 */
.noticeDetailContent{
	width: 100%;
	height: 100%;
	background: #fff;
}
.noticeDetailBox{
	width: 100%;
	height: 100%;
	background: #fff;
}
.noticeDetailBox .noticeDetailTop{
	width: 100%;
	height: 2.6666rem;
	padding-top: 0.6666rem;
}
.noticeDetailBox .noticeDetailTop h1,.noticeDetailBox .noticeDetailTop h2{
	width: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}
.noticeDetailBox .noticeDetailTop h1{
	height: 0.6666rem;
	font-size: 0.48rem;
	color: #333333;
	margin-bottom: 0.32rem;
}
.noticeDetailBox .noticeDetailTop h2{
	height: 0.64rem;
	line-height: 0.64rem;
	font-size: 0.3733rem;
	color: #666666;
	letter-spacing: 0;
}
.noticeDetailBox .noticeDetailContentBox{
	width: 100%;
	height: auto;
	padding: 0.5066rem 0.8rem;
	word-wrap:break-word;
}
.noticeDetailBox .noticeDetailContentBox p{
	font-size: 0.3733rem;
	color: #333333;
	letter-spacing: 0;
	line-height: 0.5333rem;
}
.noticeDetailBox .noticeDetailContentBox p img{
	max-width: 100%;
	height: auto;
}
/** 公告详情页面样式 */